#####################################################################
# Multihotend CAN 板
#   - 4 路加热棒 / 4 路热敏 / 风扇 / 对刀器 IO
#   - 物理挤出步进电机来自 toolhead 板，由 [extruder] 共用，
#     [extruder1..3] 仅做温度管理 (Toolchanger 共享挤出方案)
#####################################################################
[mcu multihotend]
canbus_uuid: 7b421b74cfca       # multihotend CAN 板 ID

[board_pins multihotend]
mcu: multihotend
aliases:
    T7H=PB0,T7S=PA0,IO7=PA8,
    T6H=PB1,T6S=PA1,IO6=PA9,
    T5H=PB2,T5S=PA2,IO5=PA10,
    T4H=PB3,T4S=PA3,IO4=PA15,
    T3H=PB4,T3S=PA4,IO3=PB12,
    T2H=PB5,T2S=PA7,IO2=PB13,
    T1H=PB6,T1S=PA6,IO1=PB14,
    T0H=PB7,T0S=PA5,IO0=PB15,
    FAN1=PC15,FAN2=PC14

[gcode_button TIO0]
pin: ^multihotend:IO0
press_gcode:
    M118 通道0，耗材已装载
release_gcode:
    M118 通道0，耗材已卸载

[gcode_button TIO1]
pin: ^multihotend:IO1
press_gcode:
    M118 通道1，耗材已装载
release_gcode:
    M118 通道1，耗材已卸载

[gcode_button TIO2]
pin: ^multihotend:IO2
press_gcode:
    M118 通道2，耗材已装载
release_gcode:
    M118 通道2，耗材已卸载

[gcode_button TIO3]
pin: ^multihotend:IO3
press_gcode:
    M118 通道3，耗材已装载
release_gcode:
    M118 通道3，耗材已卸载

[gcode_button TIO4]
pin: ^multihotend:IO4
press_gcode:
    M118 通道4，耗材已装载
release_gcode:
    M118 通道4，耗材已卸载

[gcode_button TIO5]
pin: ^multihotend:IO5
press_gcode:
    M118 通道5，耗材已装载
release_gcode:
    M118 通道5，耗材已卸载

[gcode_button TIO6]
pin: ^multihotend:IO6
press_gcode:
    M118 通道6，耗材已装载
release_gcode:
    M118 通道6，耗材已卸载

[gcode_button TIO7]
pin: ^multihotend:IO7
press_gcode:
    M118 通道7，耗材已装载
release_gcode:
    M118 通道7，耗材已卸载


#####################################################################
# 风扇 (热端 / 停靠坞)
#####################################################################
# 停靠坞风扇：任一活跃热端达到温度即启动
[heater_fan dock_fan]
pin: mcu:DOCK_FAN
max_power: 1.0
kick_start_time: 0.5
heater: extruder, extruder1, extruder2, extruder3
heater_temp: 30
fan_speed: 0.9

# 热端散热风扇（位于工具头）
[heater_fan hotend_fan]
pin: toolhead:HEATER_FAN
max_power: 1.0
kick_start_time: 0.5
heater: extruder, extruder1, extruder2, extruder3
heater_temp: 40
fan_speed: 1.0


#####################################################################
# CAN 板 MCU 温度
#####################################################################
[temperature_sensor 8热端温度]
sensor_type: temperature_mcu
sensor_mcu: multihotend
min_temp: 0
max_temp: 100


#####################################################################
# E0 挤出机 (主物理挤出)
#   step / dir / enable / uart 来自 toolhead 板，多热端共用同一物理电机
#####################################################################
[extruder]
step_pin: toolhead:STEP
dir_pin: !toolhead:DIR
enable_pin: !toolhead:ENABLE
microsteps: 32
full_steps_per_rotation: 200    # 1.8°电机:200，0.9°电机:400
rotation_distance: 5.39
filament_diameter: 1.750
heater_pin: multihotend:T0H
nozzle_diameter: 0.400
smooth_time: 0.4
min_temp: 0
max_temp: 300
sensor_type: Generic 3950
sensor_pin: multihotend:T0S
max_power: 0.9
pressure_advance: 0.100
max_extrude_only_distance: 400
min_extrude_temp: 10            # 最小挤出温度（至少需要达到这个温度，挤出机才能挤出）

[tmc2209 extruder]
uart_pin: toolhead:UART
interpolate: False
run_current: 0.85
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# E1/E2/E3 副热端 (仅温度管理；挤出步进与 [extruder] 共用)
#####################################################################
[extruder1]
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: multihotend:T1H
sensor_type: Generic 3950
sensor_pin: multihotend:T1S
min_temp: 0
max_temp: 300
max_power: 0.9
min_extrude_temp: 10

[extruder2]
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: multihotend:T2H
sensor_type: Generic 3950
sensor_pin: multihotend:T2S
min_temp: -100
max_temp: 300
max_power: 0.9
min_extrude_temp: 10

[extruder3]
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: multihotend:T3H
sensor_type: Generic 3950
sensor_pin: multihotend:T3S
min_temp: -100
max_temp: 300
max_power: 0.9
min_extrude_temp: 10
